<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finder.mapper.VideoMapper">

	<select id="getVideoListByManagerID" resultType="com.finder.domain.VideoVO">
		SELECT * 
		FROM video
		WHERE ManagerID = #{managerID};	
	</select>

</mapper>